$light_dark: rgb(83, 82, 82);
$buttons: rgb(100, 0, 0);
$maincolor: rgb(153, 79, 79);
$secondarycolor: rgba(211, 147, 30, 0.404);

// If is a light color, return white, otherwise red
@function set-text-color($color) {
  @if (lightness($color) > 80) {
    @return #eeeeee;
  } @else {
    @return #e72121;
  }
}
